<h3><%= @book.title %></h3>

<h5 class='highest-rating'>Highest Rating: <%= @book.max_rating %></h5>

<h5>Lowest Rating: <%= @book.lowest_rating %></h5>

<p>Average Rating: <%= @book.average_rating %></p>

<section class='reviews'>
  <ul>
  <% @book.reviews.each do |review| %>
    <li>username: <%= review.username %></li>
    <li>review: <%= review.body %></li>
    <li>rating: <%= review.rating %></li>
  <% end %>
</ul>
</section>
