<h1>Show page for <%= @book.title %> </h1>

<h2>Reviews</h2>

<% @book.reviews.each do |review| %>
  <%= review.body %>
  <%= review.rating %>
  <%= review.user.name %>
<% end  %>

<h2>Average Rating for this Book: <%= @book.average_rating %></h2>

<h3>Highest Rating: <%=@book.highest_rating  %>
<h3>Lowest Rating: <%=@book.lowest_rating  %>
