<h1><%= @book.title %></h1>

<div class="highest-rating">
<h2>Highest Rating: <%= @book.highest_rating %></h2>
<p><%= @book.highest_rating_review %></p>
</div>

<div class="lowest-rating">
<h2>Lowest Rating: <%= @book.lowest_rating %></h2>
<p><%= @book.lowest_rating_review %></p>
</div>

Reviews:
<% @reviews.each do |review| %>
  <%= review.body %>
  <%= review.user.name %>
  <%= review.rating %>
<% end %>

Average Rating: <%= @book.average_rating %>
