<h2> Book details </h2>
save_and_open_page
  <h3>Highest rating <%= @highest_review %> </h3>
  <ul>
  <%= @book.title %>
  <%= @book.reviews.each do |review| %>
   <%= review.body %>
   <%= review.rating %>
   <%= review.user_id %>
   <% end %>

   <h2> Average review </h2>
     <%= @average %>
