<%= @book.title %>
average rating: <%= @book.average_rating %>
<ul>
  <% @book.reviews.each do |review| %>
    <li>review body: <%= review.body %></li>
    <li>rating: <%= review.rating %></li>
    <li>review author: <%= review.user.name %></li>
  <% end %>
</ul>
