<%= @book.title %> </br>

<% @book.reviews.each do |review| %>
    Review: <%=review.body  %> </br>
    Rating: <%=review.rating %> </br>
    Reviewed by: <%=review.user.name%> </br> </br>
  <% end %>

<p> Average rating for <%= @book.title %>: <%= @book.reviews.average_rating%></p>
