<h1><%= @book.title %></h3>

<p>Average Rating: <%= @book.average_rating %></p>

<section class='highest-rating'>
  <h3>Highest Rating: <%= @book.max_rating %></h5>
  <p>Username: <%= @book.best_review.username %></p>
  <p>Review: <%= @book.best_review.body %></p>
</section>

<section class='lowest-rating'>
  <h3>Lowest Rating: <%= @book.lowest_rating %></h5>
  <p>Username: <%= @book.worst_review.username %></p>
  <p>Review: <%= @book.worst_review.body %></p>
</section>


<section class='reviews'>
  <ul>
  <% @book.reviews.each do |review| %>
    <li>username: <%= review.username %></li>
    <li>review: <%= review.body %></li>
    <li>rating: <%= review.rating %></li>
  <% end %>
</ul>
</section>
