<h3>Post a Review</h3>

<%= form_for [@book, @review] do |f| %>
  <p>
    <%= f.label :body %><br/>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :rating %><br/>
    <%= f.text_area :rating %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>